
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-shadow:3px 5px 8px rgba(255, 255, 255, 0.85);
    color: white;
    font-size: 5vh;
    margin-bottom: 2vh;
    font-family: system-ui;
    font-weight: 800;
}
legend{
    color: white;
    text-shadow:0 3px 5px rgba(233, 233, 233, 0.652);
    font-size: 2vh;
    padding: 0 2vh;
    text-align: center;
    font-family: system-ui;
    font-weight: 700;
}
fieldset{
    width: 100%;
    background-color: rgba(81, 81, 81, 0.144);
    border: 1px solid rgb(107, 107, 107);
    border-radius: 3vh;
    border-style:outset;
}
body{
    background-attachment: fixed;
    background-image: url(./images/bg5.jpg);
    object-fit:cover;
    object-position: center;
    
}
.im{
    margin:2vh 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pics{  
    padding:2vh 1vh;
    margin: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 1vh;
}
img{
    box-shadow:2px 2px 20px rgba(119, 119, 119, 0.568);
    object-fit: cover;
    width: 35vh;
    height: 30vh;
    border-radius: 10%;
    transition-duration: .3s;
}
img:hover{
    box-shadow: none;
    filter:brightness(1.1);
    filter: saturate(1.3);
    border-radius: 5px;
    height: 40vh;                                                       
    width: 35%;
}
img:active{
    border-radius: 50%;
    height: 30vh;                                                       
    width: 35vh;
}